body{
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1c1c;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

nav{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #1c1c1c;
    color:white;
    width: 100%;
}

ul{
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items:center;
    list-style: none;
    padding: 0;
    width: 100%;
 
    
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{

    display:inline-block;
    padding:10px 0;
    width: 100%;
    text-decoration: none;
    color: white;

}

nav ul li a:hover{

    font-size:20px;
    text-decoration: underline;
    color:white;

}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url(/fotos/backgroundheaderpng.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:rgb(174, 0, 255);
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2) ;
    font-size: 15px;
   


}

header  img{

    width: 0px;

}

section{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.explicasobre{
    display:flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    top:100px;
    text-align: justify;
    width: 100%;
    height: 250px;
}



#imprecao3d{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background:rgb(226, 226, 226);
    width: 100%;
    margin-bottom: 5px;
    line-height: 30px;
    
}

#modelagem3d{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background:rgb(226, 226, 226);
    width: 100%;
    height: 800px;
    margin-bottom: 5px;
    line-height: 30px;
}


.buttonwahts button{
    background-color:#01e675;
    border: none;
    outline: none;
    border-radius: 10px;
    color:white;
    font-weight: 800;
    height: 50px;
    width: 250px;
    position: relative;
    top:15px;
    cursor: pointer;
}

.buttonwahts button:hover{
    background-color: #075e54;
    position: relative;
    top:10px;
}
.buttonwahtsmodela button{
    background-color:#01e675;
    border: none;
    outline: none;
    border-radius: 10px;
    color:white;
    font-weight: 800;
    height: 50px;
    width: 250px;
    position: relative;
    top:55px;
    cursor: pointer;

}
.buttonwahtsmodela button:hover{
    background-color: #075e54;
    position: relative;
    top:45px;
}


.foto{
    position: relative;
    width: 100%;
}

#contact{
    position: relative;
   
    bottom: -16px;
   
}

#contact .buttonwahts{
    position: relative;
    top:-20px;
 

}
#contact .follofacewbuttons #face{
    position: relative;
    width: 150px;
    height: 80px;
    text-align: start;
    background-color: #0e8bf1;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: 800;

}
#contact  #face:hover{
    background-color: #0c7dda;
    position: relative;
    top: -10px;
}

#contact .folloinstwbuttons #insta{
    position: ab;
    width: 150px;
    height: 80px;
    text-align: start;
    background-color: #780ef1;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: 800;
}
#contact  #insta:hover{
    background-color: #5e0abd;
    position: relative;
    top: -10px;
}



#subir button,#subirtop{

    position: fixed;
    z-index:99999;
    width: 50px;
    height: 50px;
    background-color: #780ef1;
    border:none;
    outline: none;
    color:white;
    font-size: 50px;
    right:50px;
    bottom: 20px;
    cursor: pointer;
    text-decoration: none;
   

}
#subir button:hover{
    
    bottom:30px;
    background-color: #5e0abd;
    color:rgb(190, 187, 187);
    text-decoration: none;
}

#subir #subirtop:hover{
    bottom:30px;
    background-color: #5e0abd;
    color:rgb(190, 187, 187);
    text-decoration: none;

}


footer{
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    height: 50px;
    text-align: center;
    color:white;
    height: 70px;
   
  
   
}

@media screen and (min-width: 1080px){
    
nav{
    
    flex-direction: row;
    justify-content: space-around;
}

nav ul{
    flex-direction: row;
    width: 70%;
   
}

#logotop img{
    position: relative;
    width: 70%;
}

header{
    flex-direction: row;
    width: 100%;
    height: 500px;
    background: url(/fotos/backgroundheaderuniverso.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    position: relative;
    left: 50px;
    top:-50px;
    color:white;
    /* font-family: ; */

}

header img{
    position: absolute;
    width: 300px;
    top:260px;
    right:-1px;

  
}
header #suporte{
left: 1125px;
top:330px;
}

header #onca{
    width: 250px;
    left: 1080px;
    top:440px;
}

header #vaso{
    width: 400px;
    left: 840px;
    top:370px;
}

header #rex{
    width: 300px;
    left: 830px;
    top:510px;   
}

#comofunciona{
    padding: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 800px;
}
article #imprecao3d{
    position: relative;
    width: 30%;
    height:600px;
    left: 300px;
    
}
article .buttonwahts{ 
    position: relative;
    top:100px;
    
}
article #modelagem3d{
    position: relative;
    width: 30%;
    height:600px;
    left: 900px;
    top:-605px;
   
}
article .buttonwahts{ 
    position: relative;
    top:100px;
    
}

#fotos{

    flex-direction: row;
    flex-wrap: wrap;
   
    
}


#fotos img{
    width: 33.3333333%;
}

#contact{
    color:white;
  background-color: #460591;
}

}
